.page {
			max-width: 980px;
			margin: 0 auto;
			font-family: serif;
			font-weight: 400;
		}

.mainheader {
	color: #282828;
  	font-size: 160%;
  	font-family: serif;
  	text-align: center;
		}

.header {
	color: ##282828;
	font-size: 120%;
	font-family: serif;
	text-align: center;
		}

.text {
	color: ##282828;
	font-size: 100%;
	font-family: serif;
	text-align: justify;
	text-indent: 20px;
	margin-bottom: 30px;
	}

.table {
	text-align: center;
	color: #282828;
	font-family: serif;
	}

.t1 {
	color: #767676;
	width: 700px; 
    margin: auto; 
    font-family: serif;

 	}