/* Mobile first */

.html, body
{
	padding:0;
	margin:0;
	border:none;
	outline: none;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	font-style: normal;
	font-weight: normal;
}

.page {
	width:100%;
	height: 100vh;
}

.black {
		background-color:rgba(0,0,0,.5);		
}
.nav a {	
	text-decoration: none;
	color: #FFFFFF;
	line-height: 70px;
}
.header {
	display:flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: auto;	
}

.icons {
	width:auto;
	padding: 15px;
	
}
.line {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.icon {
	width: 5px;
	height: 5px;
	margin: 1px;
	background-color: #fff;
	flex-shrink: 0;
	flex-grow: 1;
}
.f_border {	
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width:auto;
	flex-grow: 1;
	border-bottom: 1px solid #A3A3A3;
	border-right: 1px solid #A3A3A3;
}
.f_border:last-child {	
	border-right:none;
}

.left {
	max-width: 40%;
}
.before {
	box-sizing: border-box;
	width: auto;
	min-width: 65px;
	flex-grow: 1;
	height: 100%;
	display: flex;
	align-items: flex-end;
}
.nav {
	max-width: 90%;
	margin: 0 auto;
	border-bottom: 5px solid #FFFFFF;
	height: 100%;

}
.search {
	width: auto;
	flex-grow: 1;
	display: flex;
	width: 141px;
}
.search input {
	border:none;
	background:none;
	color: #FFFFFF;
	padding-left: 10px;
	outline: none;
}
input[type="search"]::-webkit-input-placeholder {
    color: #FFFFFF;
   } 
 input[type="search"]::-moz-placeholder {
    color: #FFFFFF;
}

.main {
	padding-left: 20px;
}

.main h3 {
	font-size: 25px;
	line-height: 30px;	
}
.watch {
	display: flex;
	align-items: center;	
	padding-bottom: 15px;
}
.watch img {
	padding-right: 10px;
	
}
.main article {
	padding-bottom: 20px;
}
.main section {
	padding-bottom: 5px;
}


.t15 {
	font-size: 15px;
	color:#fff;
}
.flex {
	width: 60%;
	display: flex;
	justify-content: space-between;
}

.star-five {
   margin: 5px 0;
   position: relative;
   display: block;
   color: #F92251;
   width: 0px;
   height: 0px;
   border-right:  10px solid transparent;
   border-bottom: 7px  solid #F92251;
   border-left:   10px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
   
}
.star-five:before {
   border-bottom: 8px solid #F92251;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -3px;
   left: -5px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
   
}
.star-five:after {
   position: absolute;
   display: block;
   color: #F92251;
   top: 1px;
   left: -10px;
   width: 0px;
   height: 0px;
   border-right: 10px solid transparent;
   border-bottom: 7px solid #F92251;
   border-left: 10px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

.sign {
	background-color: #15151D;
	height:auto;
	padding: 30px 20px;

}
.t17 {
	font-size: 17px;
}
.sign form {
	padding-top: 20px;
}

.inpt {
	background: #FFFF;
	border-radius: 10px;
	margin-bottom: 20px;

}
.inpt input {
	outline: none;
	border: none;
	color: #82868E;
	padding-left: 15px;
	height: 35px;
}
.inpt img {
	padding-left: 15px;
}
input[type="text"]::-webkit-input-placeholder {
    color: #82868E;
    font-size: 17px;
   } 
 input[type="text"]::-moz-placeholder {
    color: #82868E;
    font-size: 17px;
}
.button {
	border: none;
	background: #F92251;
	border-radius: 10px;
	padding: 8px 35px;
	color: #FFFF;
}
footer {
	background: #404754;
}
.f_nav a {
	color: #BAC5D3;
}




@media (max-device-width:320px) {

	.content {
		background: url(../img/imgonline.png) no-repeat;
		background-size: cover;

	}

	.header {
		min-height: 60px;
	}
	.hide {
		display: none;
	}
	.icon {
		max-width: 5px;
	}
	.search img {
		padding-left: 10px;
		max-width: 10px;
		max-height: 10px;	
}
	.f_nav {
		padding: 8px 20px;
		
}
	.watch img {
		padding-right: 10px;
		width: 20px;
		height: 20px;

}
	

}

 


