@media (min-device-width:321px) and (max-device-width:768px) {

.content {
		background: url(../img/motorcycle_enduro_cross-1440x810.png) no-repeat;
		background-size: cover;

	}

	.footer {
		min-height: 60px;
	}
	
	.left {
		max-width:180px;		
	}
	.icons {
		padding-left: 20px;
	}
	.hide {
		display: none;
	}
	.icon {
		width: 10px;
		height:10px;
		margin: 2px;
	}
	.search img {
	padding-left: 40px;
	max-width: 10px;
	max-height: 10px;	
}
	.f_nav {
		padding: 8px 20px;
		color: #BAC5D3;
}
	.t15 {
		font-size: 18px;
	}
	.t14 {
		font-size: 14px;
	}
	.main {
		padding-left: 80px;		
	}
	.main h3 {
		font-size: 90px;
		margin-top: 60px;
		line-height: 100px;
		margin-bottom: 30px;
	}
	.main > div {
		display: flex;
	}

	.watch {
		padding-bottom: 50px;
	}

	.watch:last-child {
		padding-left: 50px;
	}
	.main article {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.main section {
		padding-right: 77px;
	}
	.main section:last-child {
		padding-top: 30px;
	}
	.t24 {
		font-size: 24px;
	}
	.sign {
		padding: 30px 117px;
	}
	.t17 {
		font-size: 25px;
		text-align: center;
	}
	.inpt {
		max-width: 210px;
		flex-grow: 1;
		    padding: 6px 0;
	}

	.inpt input { 
		max-height: 53px;
		padding-left: 5px;
		max-width: 150px;
	}
	.inpt img {
		padding-left: 5px;
	}

	.sign form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 20px 40px;
	}

	.button {
		flex-grow: 1;
		padding: 14px 0;
	}

	footer {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 30px;
	}

	.f_nav { 
		flex-grow: 0;
		flex-shrink: 0;




	}