@media (min-width:1101px) {
.page {
   background: url(../img/BackgroundDesktop.png) no-repeat;
   background-size: cover;
   background-position: top left;
   height: 100vh;
   overflow-x: hidden;
}
.content { 
   max-width: 1440px;
}
.desktopHide {
   display: none;
}
.logo {
   padding: 0 40px;
}
.headerNav {
   font-size: 18px;
}
.headerNav a:focus {
   outline: none;
   padding-bottom: 22px;
   border-bottom: 4px solid white;
}
.headerNav li {
   padding-right: 50px;
}
.headerInput {
   font-size: 14px;
}
input[type="search"]::-webkit-input-placeholder {
   font-family: 'Titillium Web', sans-serif;
   font-size: 14px;
   color: #FFFFFF;
}
.motoName {
   font-size: 90px;
   line-height: 100px;
}
.videoButton {
   align-items: center;
   font-size: 18px;
   padding-bottom: 80px;
}
.motoChar {
   padding-bottom: 80px;
}
.motoCharUlName {
   font-size: 18px;
   padding-bottom: 10px;
}
.motoCharUlval {
   font-size: 24px;
}
.motoCharUlvalRight {
   margin-left: 35px;
}
.form {
   padding-bottom: 89px;
   min-width: 85%;
}
.headerInptDiv {
   width: 30%;
   padding: 30px;
}
.search {
   min-height: 400px;
   max-height: 550px;
}
.signPhrase {
   font-size: 35px;
   max-width: 60%;
   padding-bottom: 60px;
   padding-top: 40px;
   line-height: 53px;
   text-align: center;
   letter-spacing: 0.3px;
}
.searchInpt {
   margin-right: 40px;
   min-height: 50px;
}
.button {
   min-height: 50px;
}
.footer {
   flex-direction: row;
   font-size: 20px;
}
.footerNav {
   justify-content: space-around;
}
.posRight {
   justify-content: flex-end;
   padding-right: 5%;
}
}