html, body {
	margin:0;
	padding: 0;
	border: none;
	font-family: 'Abel', sans-serif;
	background: #FFFFFF;
	color: #1C1E20;
}
.desktop {
	width: 100%;
	max-width: 1440px;
	height: 100vh;
	font-style: normal;
	margin: 0 auto;
}
.desktop a {
	font-size: 18px;
	color: #787878;
	text-decoration-line: none;
}


