html, body {
	padding: 0;
	margin: 0;
	border: none;
	font-family: Roboto;
	color: #000000;
}
.main {
	width: 100%;
	margin: 0 auto;	
}

h1 {
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	padding-top: 37px;
}
.content h3 {
	font-weight: bold;
	font-size: 15px;
	color: #5D5D5D;
	margin: 0;
}
.content {
	width: 640px;
	height: auto;
	margin: 0 auto;
	display: flex;
	margin-top: 20px;
	flex-direction: column;	
	
}
.content p {
	font-size: 13px;
	color: #5D5D5D;	
}
.content img {
	max-width: 510px;
	width: 100%;
		
}

.content a {
	color: #51A2FF;
}

.content > div {
	width: auto;
	height: 100%;
	border-left: 2px solid #0ae8f0;
	margin-left: -14px;
	box-sizing: content-box;
}

.content input {
	display: none;	
}

.content span {
	display: block;
	width: 8px;
	height: 8px;
	border-top: 1px solid #6A6A6A;
	border-right: 1px solid #6A6A6A;
	position: absolute;
	top: 19px;
	left: 20px;
	transform: rotate(45deg);
}
.h1 {
	display: none;
}

.content label {
	font-size: 13px;
	color: #000000;
	padding: 20px;
	padding-left: 35px;
	padding-right: 380px;
}

.content input:checked + label > span {
	content: ' ';
	transform: rotate(135deg);
}

.content input + label + div  {
    display: none; 
 }

.content input:checked + label + div  {
    display: block; 
 }

 .content > div > div {
	margin-left: 5px;
	background: #F5F5F5;
	border: 1px solid #E8E8E8;
	margin-top:-10px;
	margin-bottom: -10px;	
	min-height: 46px;
	line-height: 46px;
	position: relative;
}
.content > div > div > div {
	height: auto;
	border: 1px solid #E8E8E8;
	padding: 10px;
	margin: -1px;
	margin-top: 10px;
	background: white;
	line-height: 20px;	
}
.content > div > div > div > div {
	font-size: 13px;
	color: #000000;
	background: white;
	padding-left: 25px;
}
.content > div > div > div > div > div {
	width: 100%;
	text-align: center;
}


@media (width:320px) {
	
	.main {
		width: 315px;
		margin: 0 auto;
	}
	h1 {
		padding-top: 15px;
		margin: 0;
		font-size: 12px;
	}
	.content {
		width: 90%;
		padding-left: 10px;
	}
	
	.content label {
	font-size: 11px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 50px;
	}

	.content h3 {
	font-weight: bold;
	font-size: 11px;}

	.content p {
	font-size: 10px;
	line-height: 12px;}

	.content img {
	max-width: 200px;
	width: 100%;
	
}



