body {
	padding: 0;
	margin: 0;
	color: #000000;
	font-family: Roboto;
}
.content {
	width: 100%;	
}
.content div {
	width: 640px;
	margin: 0 auto;
	position: relative;
}
.content > div > div {
	background: #F5F5F5;
	border: 1px solid #E8E8E8;
	border-left: 3px outset #0179FF;
	border-radius: 5px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.content > div > div > div {
	width: auto;
	padding:20px;
	margin:0;
	background-color: #fff;		
}

.content label {
	font-size: 13px;
	color: #000000;
	padding: 15px 35px; 
}
.content h1 {
	font-weight: bold;
	font-size: 35px;
}
.content h3 {
	font-weight: bold;
	font-size: 15px;
	color: #5D5D5D;
	margin: 0;
}
.content p {
	font-size: 13px;
	color: #5D5D5D;	
}
.content img {
	padding-left: 30px;
}
.content a {
	color: #51A2FF;
}
.hide {
	position: absolute;
   	z-index: -1;
  	opacity: 0;  	
}
.hide + label ~ div{
    display: none;
}

.hide + label {
    display: inline-flex;
  	align-items: center;  
}

.hide + label::before {
  content: 'ᐳ';
  display: inline-block;
  width: 1em;  
  flex-shrink: 0;
  flex-grow: 0;
}
.hide:checked+label::before {
	content: 'ᐯ';
}

.hide:checked + label + div  {
    display: block; 
    height: auto;  
}

@media (width:320px) {
	.content h1 {
		padding-top: 10px;
		font-weight: bold;
		font-size: 15px;
		text-align: center;}
	.content div {
		margin: 0 auto;
		width: 96%;
		margin-left: 5px;}
	.content img {
		width: 100px;
		height: auto; }
	.content label {
		font-size: 12px; }
		.content h3 {
		font-size: 11px;}
		.content p {
		font-size: 10px;}
}




