.top {
         width: auto;
         margin: 0 center;
         background: white;
         height: 80px; 
         max-height: 80px; }   
 
.bblock {
        float: left; 
        line-height: 70px;
        font-size: 15px;
        background: white;
        color: grey;
        width: auto; 
        text-align: center; 
        min-width: 60px;
        padding: 0 15px ;
        font-family: roboto;
        letter-spacing: -1px;
        max-height: 80px;
        height: 80px; }  

.bblockleft {
        float: left; 
        font-size: 15px;
        background: white;
        color: grey;
        width: auto; 
        text-align: center; 
        min-width: 60px;
        padding: 0 15px ;
        font-family: roboto;
        letter-spacing: -1px;
        max-height: 80px;
        height: 80px;
        margin: left;
        padding-left: 100px; } 

.call { 
		display: table;
		background: green;
		min-width: 100px;
		font-size: 12px;
		float: left;
		padding: 5px;
		text-align: left, top;
		width: 150px;
		color: white;
		font-family: roboto; }

.middle {
		font-family: roboto;
		margin: 0 auto;
        height: auto;
        text-align: center;
		background: white; } 

 .table {
	max-width: : 500px;
	margin: 0 auto;
	font-family: roboto;
	background-color: transparent;
	width: 200px;
	font-size: 15px;
	text-align: center;
	padding: 5px;
	min-height: 150px;
	line-height: 50px; } 

.table2 {
	max-width: : 500px;
	margin: 0 auto;
	font-family: roboto;
	background-color: transparent;
	width: 200px;
	min-height: 200px;
	height: 200px; 
	border-spacing: 60px 1px; }
	
.why { 	width: 300px;
	   	font-family: roboto;
	   	text-align: center;
		padding: 5px;  
		margin: 0 auto;
		font-size: 35px;
		color: white;	}  

.why2 { width: 500px;
	   	font-family: roboto;
	   	margin: 0 auto; 
	    text-align: center;
	    line-height: 100px; }  

.diamond { margin: 0 auto;
		width: 912px;
		height: 139px;
		color: white;
		background-color: transparent; 
		background-size: contain; }   

.bottomblock { height: 80px;
		float: left;
		background-color: white;
		font-family: roboto;
		text-align: center;
		font-size: 15px;
		line-height: 1;
		padding-top: 5px 15px; }

.middlewhite {
		font-family: roboto;
		margin: 0 auto;
        height: auto;
        text-align: center;
		background: grey; }







