html,
body {
   padding: 0;
   margin: 0;
   border: none;
   outline: none;
}

.content {
   width: 350px;
   height: 250px;
   text-align: center;
}

.but {
   margin-top: 25px;
   margin-bottom: 25px;
   border: none;
   background: rosybrown;
   padding: 10px 25px;
   font-size: 25px;
}

.out {
   font-size: 15px;
   text-align: center;
   margin: 10px;
}