@media (max-width:669px) {

   .contentBackground {
      background: url(../img/BackgroundSmall.png) no-repeat;
   }

   .hide {
      display: none;
   }

   .headerNav {
      font-size: 15px;
   }

   .headerNav a:focus {
      padding-bottom: 12px;
   }

   .headerNav ul {
      padding-right: 19px;
      padding-left: 19px;
   }

   .icons li {
      width: 5px;
      height: 5px;
   }

   .headerInptDiv {
      width: 60%;
      padding: 17px;
   }

   .headerInput {
      font-size: 13px;
      padding-left: 10px;
      padding-right: 0;
   }

   input[type="search"]::-webkit-input-placeholder {
      font-size: 13px;
   }

   .motoName {
      font-size: 25px;
      line-height: 30px;
   }

   .videoButton {
      flex-direction: column;
      align-items: flex-start;
      font-size: 15px;
      padding-bottom: 12px;
   }

   .videoButtonContent:first-child {
      margin-bottom: 11px;
   }

   .mobilSize {
      width: 20px;
      height: 20px;
   }

   .motoChar {
      padding-bottom: 40px;
      flex-direction: column;
   }

   .motoCharUl {
      margin: 0;
      margin-bottom: 15px;
   }

   .motoCharUlName {
      font-size: 15px;
      padding-bottom: 0;
   }

   .motoCharUlval {
      font-size: 17px;
   }

   .motoCharUlvalRight {
      margin-left: 10px;
   }

   .starMobil {
      width: 15px;
      height: 15px;
   }

   .search {
      height: auto;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.15px;
   }

   .signPhrase {
      width: 82%;
      text-align: left;
      margin-bottom: 10px;
      margin-top: 10px;
   }

   .form {
      width: 82%;
   }

   .searchInpt {
      min-height: 35px;
      margin-bottom: 20px;
      min-width: 60%;
   }

   .searchInputText {
      width: 86%;
   }

   .button {
      margin-bottom: 40px;
      min-height: 35px;
      min-width: 60%;
   }

   .footer {
      flex-direction: column;
      font-size: 17px;
   }

   .footerNav {
      flex-direction: column;
      padding-left: 9%;
   }

   .posRight {
      margin-top: 0;
   }
}